@use '/src/theme/scss/utils/index.scss' as *;

@include b('modal') {
	position: relative;
	max-width: 500px;
	padding: 16px;
	box-sizing: border-box;
	background-color: white;

	margin: 15vh auto 0;
	border-radius: getCssVar(('border', 'radius', 'base'));

	@include m('small') {
		max-width: 300px;
	}

	@include m('large') {
		max-width: 800px;
	}

	@include m('center') {
		top: 50%;
		transform: translateY(-50%);
		margin: auto;
	}

	@include m('fullscreen') {
		height: 100%;
		max-width: 100%;
		margin-top: 0;

		border-radius: getCssVar(('border', 'radius', 'round'));
	}

	@include m('opened') {
		top: 0;
	}

	@include e('wrapper') {
	}

	@include e('header') {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	@include e('header-slot') {
		flex-grow: 1;
	}
}
