@keyframes rotation360 {
	// from {
	// 	transform: rotate(0deg);
	// }
	100% {
		transform: rotate(360deg);
	}
}

.rotate360-animation {
	animation: rotation360 2s infinite linear;
}

.default-transition {
	transition: all 0.2s linear;
}
